<div class="row">
  <h2 class="col">Reserva de sala</h2>
  <div class="d-flex col">
    <div class="mt-2"><p><%= current_user.email %></div> 
    <div><%= link_to('Sair', destroy_user_session_path, method: :delete, class: 'nav-link') %></p></div>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <th>Horário</th>
    <th>Segunda (<%= @monday.strftime('%d/%m/%Y') %>)</th>
    <th>Terça (<%= @tuesday.strftime('%d/%m/%Y') %>)</th>
    <th>Quarta (<%= @wednesday.strftime('%d/%m/%Y') %>)</th>
    <th>Quinta (<%= @thursday.strftime('%d/%m/%Y') %>)</th>
    <th>Sexta (<%= @friday.strftime('%d/%m/%Y') %>)</th>
  </thead>
<% ["06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"].each do |reserve| %>
  <tr>
    <td><%= reserve %></td>
    <td><% if @reserves.where(datetime: "#{@monday.strftime('%d/%m/%Y')} #{reserve}").empty? %> <% if @blocked %> Indisponível <% else %> <%= link_to "Disponível", new_reserf_path(data: "#{@monday.strftime('%d/%m/%Y')} #{reserve}") %> <% end %> <% else %> <%= @reserves.where(datetime: "#{@monday.strftime('%d/%m/%Y')} #{reserve}").first.user.email %> <% end %> <% if !@reserves.where(datetime: "#{@monday.strftime('%d/%m/%Y')} #{reserve}").empty? && @reserves.where(datetime: "#{@monday.strftime('%d/%m/%Y')} #{reserve}").first.user.email == current_user.email && !@blocked %> <a id="<%= "#{@monday.strftime('%d/%m/%Y')} #{reserve}" %>" onclick="submit(this.id)"><i class="fa-solid fa-arrow-rotate-left"></i></a> <% end %></td>
    <td><% if @reserves.where(datetime: "#{@tuesday.strftime('%d/%m/%Y')} #{reserve}").empty? %> <% if @blocked %> Indisponível <% else %> <%= link_to "Disponível", new_reserf_path(data: "#{@tuesday.strftime('%d/%m/%Y')} #{reserve}") %> <% end %> <% else %> <%= @reserves.where(datetime: "#{@tuesday.strftime('%d/%m/%Y')} #{reserve}").first.user.email %> <% end %> <% if !@reserves.where(datetime: "#{@tuesday.strftime('%d/%m/%Y')} #{reserve}").empty? && @reserves.where(datetime: "#{@tuesday.strftime('%d/%m/%Y')} #{reserve}").first.user.email == current_user.email && !@blocked %> <a id="<%= "#{@tuesday.strftime('%d/%m/%Y')} #{reserve}" %>" onclick="submit(this.id)"><i class="fa-solid fa-arrow-rotate-left"></i></a> <% end %></td>
    <td><% if @reserves.where(datetime: "#{@wednesday.strftime('%d/%m/%Y')} #{reserve}").empty? %> <% if @blocked %> Indisponível <% else %> <%= link_to "Disponível", new_reserf_path(data: "#{@wednesday.strftime('%d/%m/%Y')} #{reserve}") %> <% end %> <% else %> <%= @reserves.where(datetime: "#{@wednesday.strftime('%d/%m/%Y')} #{reserve}").first.user.email %> <% end %> <% if !@reserves.where(datetime: "#{@wednesday.strftime('%d/%m/%Y')} #{reserve}").empty? && @reserves.where(datetime: "#{@wednesday.strftime('%d/%m/%Y')} #{reserve}").first.user.email == current_user.email && !@blocked %> <a id="<%= "#{@wednesday.strftime('%d/%m/%Y')} #{reserve}" %>" onclick="submit(this.id)"><i class="fa-solid fa-arrow-rotate-left"></i></a> <% end %></td>
    <td><% if @reserves.where(datetime: "#{@thursday.strftime('%d/%m/%Y')} #{reserve}").empty? %> <% if @blocked %> Indisponível <% else %> <%= link_to "Disponível", new_reserf_path(data: "#{@thursday.strftime('%d/%m/%Y')} #{reserve}") %> <% end %> <% else %> <%= @reserves.where(datetime: "#{@thursday.strftime('%d/%m/%Y')} #{reserve}").first.user.email %> <% end %> <% if !@reserves.where(datetime: "#{@thursday.strftime('%d/%m/%Y')} #{reserve}").empty? && @reserves.where(datetime: "#{@thursday.strftime('%d/%m/%Y')} #{reserve}").first.user.email == current_user.email && !@blocked %> <a id="<%= "#{@thursday.strftime('%d/%m/%Y')} #{reserve}" %>" onclick="submit(this.id)"><i class="fa-solid fa-arrow-rotate-left"></i></a> <% end %></td>
    <td><% if @reserves.where(datetime: "#{@friday.strftime('%d/%m/%Y')} #{reserve}").empty? %> <% if @blocked %> Indisponível <% else %> <%= link_to "Disponível", new_reserf_path(data: "#{@friday.strftime('%d/%m/%Y')} #{reserve}") %> <% end %> <% else %> <%= @reserves.where(datetime: "#{@friday.strftime('%d/%m/%Y')} #{reserve}").first.user.email %> <% end %> <% if !@reserves.where(datetime: "#{@friday.strftime('%d/%m/%Y')} #{reserve}").empty? && @reserves.where(datetime: "#{@friday.strftime('%d/%m/%Y')} #{reserve}").first.user.email == current_user.email && !@blocked %> <a id="<%= "#{@friday.strftime('%d/%m/%Y')} #{reserve}" %>" onclick="submit(this.id)"><i class="fa-solid fa-arrow-rotate-left"></i></a> <% end %></td>
  </tr>
<% end %>
</table>

<div class="d-flex justify-content-center">
  <%= link_to user_root_path(date: "#{@monday - 7.day}") do %><i class="fa-solid fa-backward p-1"></i><% end %>
  <%= link_to user_root_path(date: "#{@monday + 7.day}") do %><i class="fa-solid fa-forward p-1"></i><% end %>
</div>

<script type="text/javascript">
  function submit(date) {
    let data = date;
    let getUrl = window.location;
    let baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
    fetch(`${baseUrl}/destroy`, {
    method: 'DELETE',
    headers: {'Content-Type':'application/x-www-form-urlencoded'}, 
    body: `date=${data}`
    })
    .then(response => response.json())
    window.location.href = baseUrl;
  }
</script>
