<h2>Reserva de sala</h2>

<table>
  <tr>
    <th>Horário</th>
    <th>Segunda</th>
    <th>Terça</th>
    <th>Quarta</th>
    <th>Quinta</th>
    <th>Sexta</th>
  </tr>
<% ["06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"].each do |reserve| %>
  <tr>
    <td><%= reserve %></td>
    <td><%= @reserves.where(datetime: "#{@monday.strftime('%d/%m/%Y')} #{reserve}").empty? ? "Disponível" : "Tem reserva" %></td>
    <td><%= @reserves.where(datetime: "#{@tuesday.strftime('%d/%m/%Y')} #{reserve}").empty? ? "Disponível" : "Tem reserva" %></td>
    <td><%= @reserves.where(datetime: "#{@wednesday.strftime('%d/%m/%Y')} #{reserve}").empty? ? "Disponível" : "Tem reserva" %></td>
    <td><%= @reserves.where(datetime: "#{@thursday.strftime('%d/%m/%Y')} #{reserve}").empty? ? "Disponível" : "Tem reserva" %></td>
    <td><%= @reserves.where(datetime: "#{@friday.strftime('%d/%m/%Y')} #{reserve}").empty? ? "Disponível" : "Tem reserva" %></td>
  </tr>
<% end %>
</table>
